body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}

.headerlinks{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.herosecondary{
    font-size: 18px;
    color: #e5e7eb;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 16px; 
}

.title{
    background-color: #1F2937;
}

.heromain{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


.info{


}

.quote{

}

.signup{

}

.footer{
    background-color: #1F2937;
}